on:
  pull_request:
  push:
    branches:
      - main
name: test
jobs:
  test:
    strategy:
      matrix:
        k8s-minor: [27, 28, 29, 30, 31, 32, 33, 34]
        os: [ubuntu-latest]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install microk8s
      run: |
        sudo snap install microk8s --classic --channel=1.${{ matrix.k8s-minor }}/stable
    - name: Install Go
      uses: actions/setup-go@v5
    - name: go vet
      run: go vet ./...
    - name: go test
      run: go test -v ./...
    - name: Build kubectl-explore
      run: |
        go build
        chmod +x kubectl-explore
        sudo install kubectl-explore /usr/local/bin
    - name: Compare whether the outputs of kubectl-explore and kubectl-explain are the same
      run: |
        diff <(sudo microk8s kubectl explore --disable-print-path no.*pro | tr -d '[:space:]') <(sudo microk8s kubectl explain node.spec.providerID | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path node.*pro | tr -d '[:space:]') <(sudo microk8s kubectl explain node.spec.providerID | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path nodes.*pro | tr -d '[:space:]') <(sudo microk8s kubectl explain node.spec.providerID | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path Node.*pro | tr -d '[:space:]') <(sudo microk8s kubectl explain node.spec.providerID | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path provider | tr -d '[:space:]') <(sudo microk8s kubectl explain node.spec.providerID | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path hpa.*own.*id | tr -d '[:space:]') <(sudo microk8s kubectl explain horizontalpodautoscaler.metadata.ownerReferences.uid | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path --api-version autoscaling/v1 hpa.*own.*id | tr -d '[:space:]') <(sudo microk8s kubectl explain --api-version autoscaling/v1 horizontalpodautoscaler.metadata.ownerReferences.uid | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path csistoragecapacity.maximumVolumeSize | tr -d '[:space:]') <(sudo microk8s kubectl explain csistoragecapacity.maximumVolumeSize | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path csistoragecapacities.maximumVolumeSize | tr -d '[:space:]') <(sudo microk8s kubectl explain csistoragecapacity.maximumVolumeSize | tr -d [':space:'])
        diff <(sudo microk8s kubectl explore --disable-print-path CSIStorageCapacity.*VolumeSize | tr -d '[:space:]') <(sudo microk8s kubectl explain csistoragecapacity.maximumVolumeSize | tr -d [':space:'])
